.header {
    background: grey;
    height: 15%;
    padding: 5px;
}
.sidebar {
    background: grey;
}
.mainDiv {
    background: darkgrey;
}
.footer {
    background: grey;
    text-align: center;
}
.meme {
    margin: 5px;
}
